.Collapsible__contentInner {
    background-color: whitesmoke;
}

.Collapsible__trigger {
    color: white;
    font-weight: bold;
}

.Collapsible {
    background-color: green;
}

p {
    color: black;
}