
/* Footer CSS */
.footer {
    font-size: 14px;
    background: linear-gradient(90deg, rgba(173, 251, 224, 1) 0%, rgba(29, 197, 232, 1) 54%, rgba(0, 138, 255, 1) 100%);
    padding: 30px 0;
    color: white;
  }
  
  .footer .container .row {
    justify-content: center;
  }
  
  .footer .icon {
    margin-right: 15px;
    font-size: 24px;
    line-height: 0;
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
    margin-top: 3px;
    color: #fff;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
  }
  
  .footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
  }
  
  .footer .copyright {
    text-align: center;
  }