.navbar-background {
    background: linear-gradient(90deg, rgba(173, 251, 224, 1) 0%, rgba(29, 197, 232, 1) 54%, rgba(0, 138, 255, 1) 100%);
  }
  
  .navbar-title {
    font-size: 30px;
    font-weight: 600;
    color: #008aff;
    text-decoration: none;
  }
  
  .navbar-components {
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
  }
  
  .navbar-components .nav-link:hover {
    color: #fff;
  }
  
  .navbar-nav .nav-link {
    color: #008aff;
  }
  
  .button-register button {
    border: 0;
    border-radius: 75px;
    background-color: #adfbe0;
    color: #008aff;
    width: 90px;
    height: 35px;
    font-weight: 550;
    margin-right: -5px;
  }
  
  .button-register button:hover {
    background-color: #1dc5e8;
    color: #fff;
  }
  
  .button-login button {
    border: 0;
    border-radius: 75px;
    background-color: #adfbe0;
    color: #008aff;
    width: 70px;
    height: 35px;
    font-weight: 550;
    margin-right: 10px;
  }
  
  .button-login button:hover {
    background-color: #1dc5e8;
    color: #fff;
  }  