:root {
  --primary: #16d5ff;
  --secondary: #999999;
  --light: #f2f8fe;
  --dark: #111111;
}

body {
  font-family: "Open Sans", sans-serif;
}

.btn-primary {
  --bs-btn-bg: var(--primary) !important;
  --bs-btn-border-color: var(--primary) !important;
  --bs-btn-hover-bg: var(--primary) !important;
  --bs-btn-hover-border-color: var(--primary) !important;
}

.text-green {
  color: #6f9459 !important;
}

.btn-green {
  background-color: #3a5a40;
  color: #fff;
}

.btn-green:hover {
  color: #ffffff;
  background: #a2cc72;
}

.bg-green-light {
  background-color: #6f9459;
  color: #fff;
}

.image-trans {
  width: 100px;
  height: 100px;
  margin-top: -15px;
}

.hero-header p,
.features span {
  color: var(--secondary);
}

.back-to-top {
  position: fixed;
  display: none;
  right: 20px;
  bottom: 20px;
  z-index: 99;
}

h1,
h2,
h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-weight: 500 !important;
  font-family: "Roboto", sans-serif;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square, .btn-sm-square, .btn-lg-square {
  padding: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/*** Header ***/
.hero-header .breadcrumb-item + .breadcrumb-item::before {
  color: var(--secondary);
}

/*** Service ***/
.service-item {
  position: relative;
  overflow: hidden;
}

.service-item a,
.footer .copyright a {
  text-decoration: none;
  color: var(--primary);
}

.service-item::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -80px;
  right: -80px;
  border: 80px solid;
  transform: rotate(45deg);
  opacity: 1;
  transition: 0.5s;
}

.service-item.bg-white::after {
  border-color: transparent transparent var(--light) transparent;
}

.service-item.bg-light::after {
  border-color: transparent transparent #ffffff transparent;
}

.service-item:hover::after {
  opacity: 0;
}

/*** Roadmap ***/
.roadmap-carousel {
  position: relative;
}

.roadmap-carousel::before {
  position: absolute;
  content: "";
  height: 0;
  width: 100%;
  top: 20px;
  left: 0;
  border-top: 2px dashed var(--secondary);
}

.roadmap-carousel .roadmap-item .roadmap-point {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 6px;
  left: 50%;
  margin-left: -15px;
  background: #ffffff;
  border: 2px solid var(--primary);
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.roadmap-carousel .roadmap-item .roadmap-point span {
  display: block;
  width: 18px;
  height: 18px;
  background: var(--primary);
}

.roadmap-carousel .roadmap-item {
  position: relative;
  padding-top: 150px;
  text-align: center;
}

.roadmap-carousel .roadmap-item::before {
  position: absolute;
  content: "";
  width: 0;
  height: 115px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-right: 2px dashed var(--secondary);
}

.roadmap-carousel .roadmap-item::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 111px;
  left: 50%;
  margin-left: -7px;
  transform: rotate(45deg);
  background: var(--primary);
}

.roadmap-carousel .owl-nav {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.roadmap-carousel .owl-nav .owl-prev,
.roadmap-carousel .owl-nav .owl-next {
  margin: 0 12px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 22px;
  color: var(--light);
  background: var(--primary);
  transition: 0.5s;
}

.roadmap-carousel .owl-nav .owl-prev:hover,
.roadmap-carousel .owl-nav .owl-next:hover {
  color: var(--primary);
  background: var(--dark);
}

/* Team */
.team {
  background: #fff;
  padding: 60px 0;
}

.team .member {
  width: 400px;
  height: 450px;
  text-align: center;
  margin-bottom: 20px;
  background: #343a40;
  position: relative;
  overflow: hidden;
}

.team .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

.team .member .member-info-content {
  position: absolute;
  left: 25px;
  right: 0;
  bottom: 0;
  transition: bottom 0.4s;
}

.team .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

.team .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

.team .member .social {
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: left ease-in-out 0.3s;
  background: rgba(58, 90, 64, 0.6);
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  display: block;
  color: #fff;
  margin-top: 15px;
}

.team .member .social a:hover {
  color: #a2cc72;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member:hover .member-info {
  background: linear-gradient(
    0deg,
    rgba(58, 90, 64, 0.85) 5%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 1;
  transition: 0.4s;
}

.team .member:hover .member-info-content {
  bottom: 30px;
  transition: bottom 0.4s;
}

.team .member:hover .social {
  left: 0;
  transition: left ease-in-out 0.3s;
}

/*** FAQs ***/
.accordion .accordion-item {
  border: none;
  margin-bottom: 15px;
}

.accordion .accordion-button {
  background: var(--light);
  color: var(--secondary);
  border-radius: 2px;
  font-weight: 600;
}

.accordion .accordion-button:not(.collapsed) {
  color: #ffffff;
  background: var(--primary);
  box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
  padding: 15px 0 0 0;
  color: var(--secondary);
}

/*** Footer ***/
.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: var(--secondary);
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
  text-decoration: none;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--secondary);
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--primary);
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .btn.btn-square {
  color: var(--primary);
  border: 1px solid var(--primary);
}

.footer .btn.btn-square:hover {
  color: #ffffff;
  background: var(--primary);
}

.footer span,
.footer p {
  color: var(--secondary);
}

.footer .copyright {
  padding: 25px 0;
  border-top: 1px solid rgba(17, 17, 17, 0.1);
}

.footer .copyright a {
  color: var(--primary);
}

.footer .copyright a:hover {
  color: var(--dark);
}
