/* #c4e0b3 */

body {
  font-family: "Open Sans", sans-serif;
}

.text-green {
  color: #6f9459 !important;
}

.btn-green {
  background-color: #3a5a40;
  color: #fff;
}

.btn-green:hover {
  color: #ffffff;
  background: #a2cc72;
}

.bg-green-light {
  background-color: #6f9459;
}

.bg-transaction {
  background: #3a5a40;
  color: #fff;
}

.bg-transaction p {
  color: #fff;
}

.bg-transaction .col-lg-2 {
  width: 19.666667%;
  background-color: #6f9459;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-block-start: auto;
  margin-right: 20px;
}

.why-us img {
  max-width: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.why-us h5 {
  font-size: 25px;
  color: #3a5a40;
  margin-bottom: 5px !important;
}

.team-title {
}

.contact h1 {
  color: #6f9459;
}

.contact h5 {
  font-size: 20px !important;
  color: #6f9459;
}

.contact hr {
  background: #3a5a40;
}

.contact iframe {
  height: 450px;
  margin-left: 20px;
}

/* Forgot */
.forgot-pass-backround {
  background: linear-gradient(
    90deg,
    rgba(236, 243, 158, 1) 0%,
    rgba(170, 213, 118, 1) 28%,
    rgba(58, 90, 64, 1) 100%
  );
}

.forgot-pass-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-pass-form {
  background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px 0px 40px 0px;
}
.forgot-pass-button {
  background-color: #3a5a40;
  min-width: 100%;
  color: #fff;
  font-weight: 550;
  font-size: 20px;
}

.forgot-pass-button:hover {
  background-color: #a2cc72;
  color: #fff;
}

.forgot-password p {
  font-size: 16px;
}

.forgot-password span {
  font-weight: 580;
}

/* Vision and Mission */
.bg-vision-mission {
  background: #3a5a40;
}

.vision-container {
  display: flex;
    align-items: center;
    justify-content: center;
}

.vision-mission-info {
  padding: 24px;
  background-color: #a2cc72;
  border-radius: 20px;
}

.vision-mission-info h1 {
  text-align: center;
  color: #3a5a40;
  font-weight: bold !important;
  font-size: 50px;
}

.vision-mission-info hr {
  border: 2px solid #3a5a40;
  width: 100px;
  margin-top: 0px;
  border-radius: 10px;
}

.vision-mission-info p, ol {
  font-size: 18px;
  color: #3a5a40;
  font-weight: 550 !important;
}

.vision-mission-info .info-center {
  display: flex;
  justify-content: center;
}

.hero-header p,
.features span {
  color: var(--secondary);
}

.back-to-top {
  background-color: #a2cc72;
  color: #fff;
  position: fixed;
  display: none;
  right: 20px;
  bottom: 40px;
  z-index: 99;
}

.back-to-top:hover {
  background-color: #a2cc72;
  color: #fff;
  border: 4px solid #fff;
}

.btn-currency {
  color: #6f9459;
}

.btn-currency:hover {
  color: #a2cc72;
}

h1,
h2,
h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-weight: 500 !important;
  font-family: "Roboto", sans-serif;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/*** Header ***/
.hero-header .breadcrumb-item + .breadcrumb-item::before {
  color: var(--secondary);
}

/*** Service ***/
.service-item {
  position: relative;
  overflow: hidden;
}

.service-item a {
  text-decoration: none;
  color: #3a5a40;
}

.service-item::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -80px;
  right: -80px;
  border: 80px solid;
  transform: rotate(45deg);
  opacity: 1;
  transition: 0.5s;
}

.service-item.bg-white::after {
  border-color: transparent transparent #a2cc72 transparent;
}

.service-item:hover::after {
  opacity: 0;
}

.btn-service {
  background-color: #6f9459;
  color: #fff !important;
  padding: 15px !important;
}

.btn-service:hover {
  background-color: #a2cc72;
}

/*** FAQs ***/
.accordion .accordion-item {
  border: none;
  margin-bottom: 15px;
}

.accordion .accordion-button {
  background: #f2f8fe;
  color: #6f9459;
  border-radius: 5px;
  font-weight: 500;
}

.accordion .accordion-button:not(.collapsed) {
  color: #ffffff;
  background: #6f9459;
  box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
  padding: 15px 0 0 0;
  color: #6f9459;
}

/* Sidebar */
.sidebar {
  color: #fff;
  width: 100%;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.logo-icon img {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 15px;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
}

.toggle {
  margin-left: 15px;
  margin-top: 15px;
}

.toggle svg {
  font-size: 22px;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-layout .ant-layout-sider {
  background-color: #3a5a40;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-menu-dark {
  background-color: #3a5a40;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-menu-dark .ant-menu-item-selected {
  background-color: #a2cc72;
  color: #3a5a40;
}